body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: anitaliased;
    color: #FFFFFF;
    font-family: "Contrail One";
}

@-ms-viewport{
  width: device-width;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.ttf')
}

@font-face{
    font-family: "Contrail One";
    src: url('../fonts/ContrailOne-Regular.ttf');
}

header{
    background-color: #F4E7DD;
    text-align: center;
    margin-top: 45px;
}

#mobile-nav{
	width: 100%;
	height: 45px;
	overflow: hidden;
	margin: 0;
	background-color: #34302D;
    position: fixed;
    top: 0;
    z-index: 2;
}

.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap { 
  position: relative; 
  max-width: 100%;
  margin: auto;
}

#logo{
    width: 600px;
    height: 300px;
    margin: 0 auto;
}
footer{
    background-color: #BE3B3B;
    margin: 0;
    padding: 0;
}

footer > p{
    text-align: left;
}

div{
    overflow: hidden;
}

h2{
    margin: 0;
    font-family: "Contrail One";
    font-size: 3em;
}

h3{
    font-size: 2em;
    margin: 0;
    font-family: "Contrail One";
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: inline;
    text-align: center;
}

li a{
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    font-family: "Contrail One";
    font-size: 2em;
    color: #FFFFFF;
}

nav{
    min-width: 750px;
    margin: 0 auto;
    text-align: center;
    background-color: #5B7A8C;
    padding: 0;
}

/* main content */

.container{
    width: 1200px;
}

.main-sections{
    padding: 15px;
    text-align: center;
}

.main-sections p{
    width: 50%;
    margin: 0 auto;
}

.content-circle{
    text-align: center;
    min-width: 33%; /* dont know if this is considered harmful */
    display: inline-block;
    margin: 0 auto;
}

.content-circle h3{
    font-size: 2em;
}

.first{
    background-color: #BE3B3B;
}

.second{
    background-color: #EE984A;
}

.third{
    background-color: #5B7A8C;
}

.text-center{
    text-align: center;
}

/* quiz styles */

#submit{
    border: none;
    border-radius: 10%;
    background-color: #34302D;
    transition: color 0.3s, background-color 0.3s;
}

#submit:hover{
    color: #34302D;
    background-color: #FFFFFF;
}
.answers{
    display: block;
    margin: 0 auto;
    width: 375px;
}

.answers label{
    padding-top: 10px;
}

#result, #pass-fail{
    margin-top: 10px;
}

