body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
}
#lessons{
    background-color: #BE3B3B;
}
#tutorials{
    background-color: #EE984A;
}
#quizzes{
    background-color: #5B7A8C;
}
